
<title>About BuyBabble</title>
<div class="aboutUs">
    <div class="aboutPic">
        <h1>About Us</h1>

    </div>


    <h3><span class="glyphicon glyphicon-align-left" aria-hidden="true"></span> Who We Are</h3>
    <p>We're a group of folks that felt overwhelmed by all the awesome new stuff being invented and created every day.  Because none of us can buy it all we decided to research the coolest things so you could know whats worth your time and what isn't!</p>

    <h3><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>What We Do</h3>

    <p>Basically, we put ourselves in the buyers shoes.  We have no loyalty to any particular item or brand.  We take pride in rating things fairly and honestly so that our reports can be useful in your quest to buy only the best stuff!</p>

    <h3><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span>How We Do It</h3>
    <p>By going and trying stuff out ourselves!  We see what everyone else is saying, then see if what their saying is true.</p>

</div>