
@model IEnumerable<AzureBlog.Models.CategoryModel>
<div class="jumbotron">
    <h1>BuyBabble</h1>
    <p>Only Buy Products You Know You'll Love</p>
</div>

<div class="subCatParent">
    
    @foreach (var category in Model)
    {
        <a href="~/@category.CategorySlug"class="product-box">
            <div class="section1">
                <h2>@category.CategoryName</h2>
            </div>
            <div class="section2">
                <img class="subCatPic" src="@category.CategoryPic">
            </div>

        </a>
    }

</div>
