
@model IEnumerable<AzureBlog.Models.CategoryModel>
<div id="Birds" class="jumbotron">
    <h1>BuyBabble</h1>
    <p>Only Buy Products You Know You'll Love</p>
</div>

<div class="subCatParent">
    
    @foreach (var category in Model)
    {
        <a href="~/@category.CategorySlug"class="product-box">
            <div class="section1">
                <h2>@category.CategoryName</h2>
            </div>
            <div class="section2">
                <img class="subCatPic" src="@category.CategoryPic">
            </div>

        </a>
    }

</div>

<script src="/Scripts/three.min.js"></script>
<script src="/Scripts/Projector.js"></script>
<script src="/Scripts/CanvasRenderer.js"></script>
<script src="/Scripts/Detector.js"></script>
<script src="/Scripts/stats.min.js"></script>
<script src="/Scripts/Bird.js"></script>
<script src="~/Scripts/BirdBackGround.js"></script>
