
@model IEnumerable<AzureBlog.Models.CategoryModel>
<div class="jumbotron">
    <h1>StuffTalk</h1>
</div>

<div class="subCatParent">

    @foreach (var category in Model)
    {


        <div class="product-box">
            <h2>@category.CategoryName</h2>
            <img class="subCatPic" src="@category.CategoryPic">

            <div class="viewList">
                <a href="~/Category/Index/@category.CategoryId">ViewList</a>
            </div>
        </div>
    }

</div>
