
@model IEnumerable<AzureBlog.Models.CategoryModel>

<div class="subCatParent">
    
   
    @foreach (var article in @ViewBag.Articles)
    {

        <a style="background-image:url('@article.ArticlePic');" class="articleParent" href="~/Post/@article.ArticleSlug">
        <p>@article.ArticleName</p>
        </a>
    }


   

</div>

 

@if (User.IsInRole("Admin"))
{
    <h3>New Article!</h3>
        <form action="~/Default/Article/CreateArticle">
            <input name="name" placeholder="Article Title" />
            <input name="slug" plaeholder="Article Slug" />
            <button>MakeIt</button>
        </form>



}

