@model IEnumerable<AzureBlog.Models.ArticleModel>

@{
    ViewBag.Title = "Article";
}

<h2>Article</h2>

@foreach(var article in Model)
{
   <h1>Blog Title:  @article.ArticleName</h1>

    foreach(var segment in article.ArticleSegments)
    {
        <p>Segment:  @segment.ArticleSegmentTitle</p>
    }



<h2>Add New Segment</h2>
<form class="addArticle" action="~/Default/Article/AddSegment">
    <input name="id" hidden value="@article.ArticleId" />
    <input name="ArticleSlug" hidden value="@article.ArticleSlug" />

    <hr />

    <input name="Title" value="Lorum" placeholder="Segment Title" />
    <hr />
    <textarea name="Body" value="Lorum" placeholder="Segment Body"></textarea>
    <hr />
    <textarea name="Par2" value="Lorum" placeholder="Optional Par2"></textarea>
    <hr />
    <textarea name="Par3" value="Lorum" placeholder="Optional Par3"></textarea>
    <hr />


    <input name="Image" value="Lorum" placeholder="Optional Image" />
    <hr />

    <input name="Video" value="Lorum" placeholder="Optional Video" />

    <hr />
    <button>Add Seg</button>
</form>

}

