
   <p>HEY</p>

<img src="@ViewBag.img" />




    @*@if (Model != null)
    {
        foreach (var item in Model.Items.Item)
        {
            <h3>@Model.ItemAttributes.Title <small>@Model.ASIN</small></h3>
        }
    }*@
