.section1 {
    /*height:100px;*/
    height: 45%;
}
.section2 {
    /*height: 200px;*/
}
.subCatBox {
    /*background: green;*/
   
  width: 200px;
  height: 150px;
  border: 1px solid #d1d1d1;
  box-shadow: rgba(0,0,0, 0.0980392) 0px 3px 12px 1px;
  align-self:  flex-start;
  padding: 11px;
    margin-top: 10px;
      text-align: center;
background-color: #F8F8F8 ;
}

.subCatPic {
    height: 111px;
    width: 111px;
    border-radius: 80%;
    box-shadow: rgba(0,0,0, 0.0980392) 0px 3px 12px 1px;
    border: 1px solid #d1d1d1;
  border: 1px solid #d1d1d1;
}

.subCatPicSmall {
    height: 150px;
    width: 150px;
    border-radius: 80%;
    box-shadow: rgba(0,0,0, 0.0980392) 0px 3px 12px 1px;
    border: 1px solid #d1d1d1;
    border: 1px solid #d1d1d1;
}
.subCatParent {
     display: flex;
     flex-wrap: wrap;
    justify-content: space-around;
    /*align-content: space-between;*/
    margin-left: 5%;
        margin-right: 5%;
}

.product-box {
  transition-duration: .5s;
  width: 200px;
  height: 260px;
  border: 1px solid #d1d1d1;
  box-shadow: rgba(0,0,0, 0.0980392) 0px 3px 12px 1px;
  padding: 11px;
  margin-top: 10px;
  text-align: center;
  background-color: #F8F8F8 ;

}

.product-box:hover{
  transition-duration: .5s;
  box-shadow: green 0px 3px 12px 1px;
}

.product-box h2 {
margin-bottom: 20px;
}


.namePriceRow {
    display: flex;
   flex-wrap:nowrap;

}

.product-name {
  border-bottom: 1px solid #d1d1d1;
  height:68px;
  padding-left:15px;
  padding-right:15px;
  overflow:hidden;
  font-size: 15px;
  text-align: center;
}

.product-sale-price {
  padding-left:15px;
  padding-right:15px;
  margin-top:10px;
  font-weight:700;
  color:#60a430;
  height:30px;
  margin-bottom:10px;
  font-size: 30px;
}