.productParent {
    /*display: flex;*/
    /*height: 150px;*/
    width: 100%;
}

.individualProduct {
 
  border: 1px solid #d1d1d1;
  box-shadow: rgba(0,0,0, 0.0980392) 0px 3px 12px 1px;
  padding: 11px;
    margin-top: 10px;
      /*text-align: center;*/
background-color: #F8F8F8 ;
}

.productTitle {
    text-align: center;
    font-weight: bold;
}

.childRow {
    display: flex;
    justify-content: space-around;

}

.priceBtn {
    width: 100px;
    font-size: 30px
}